# Context & Paths
CONTEXT_PATH=/api

# Database Config
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=
DB_URL_AUTH=jdbc:mysql://mysql:3306/...
DB_URL_ORDINE=jdbc:mysql://mysql:3306/...
DB_URL_PAGAMENTO=jdbc:mysql://mysql:3306/...

# Security
JWT_SECRET=

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Email Settings
EMAIL=
EMAIL_PASS=

# Admin Settings
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASS=

